        </div>

        <!-- Right Hand Column: white space -->
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-3">
					&nbsp;
        </div> <!-- end of right hand column -->
      </div> <!-- end of middle row -->

      <!-- Footer -->

      <div class="row">
        <div class="col-md-12 footer">
          <hr class="bottom">
          <p><a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-nd/4.0/80x15.png" /></a> <a href="http://creativecommons.org/licenses/by-nc-nd/4.0/">Copyright</a> &copy; 2016 by <a href="about-the-author.html">Herb Bowie</a> except where otherwise noted </p>
        </div>
      </div>

    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
  </body>
